*{
box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    background-color: #B4D8F0;
    width: 90%;
    margin:0 auto;
    height: 20%;
}
header{
    margin:0 auto;
    width:66%; 
    background-color: grey;
    
}
nav{
    padding-left:72px;
}
nav ul li{
    position: relative;
    display: inline-block;
    left:30px;
    bottom:37px;
    color :rgba(245, 245, 245, 0.705);
    font-weight: bold;
}
.fix{
    padding-left:85px;
}
nav img{
    padding: 10px;
    display: inline-block;
}
section{
    padding-top: 20px;
    padding-left: 70px;
    margin:0 auto;
    width:66%;
    
}
.placeholder{
    padding:11px;

}
.right-side{
    position: relative;
    left:520px;
    bottom:415px;
    width: 450px;
}
p{
    padding:20px 0  ;
    text-align: justify;
    line-height: 18px;
}
footer{
    margin:0 auto;
    width:66%; 
    padding-right: 20px;
    padding-left:20px;
    padding-bottom:100px;
    background-color: grey;

    
}
#button{
    background-color: black;
    color: white;
    padding: 16px;
    width: 150px;

}
#card{
    height: 490px;
}

